.loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .loading-spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
  }
}
